html {
  /* color-scheme: dark light; */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* * {
  margin: 0;
  padding: 0;
  font: inherit; 
} */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  text-align: center;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

.logo-header {
  display: inline;
  background-color: wheat;
  border-radius: 0.3rem;
  padding: 3px 7px;
  margin-right: -60px;
}

.logo-title-1 {
  color: #f7af31;
}

.logo-title-2 {
  color: #f15026;
}

.main-dishes-list {
  margin-top: 30px;
}

.main-dishes-list img {
  height: auto;
  max-width: 350px; 
  margin: 10px auto;
}

#theme-toogle {
  display: inline;
  float: right;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style: none;
}

.recipe-image {
  margin: 0 auto;  
}

img {
  display: block;
}